// Colors
$color-primary: #4D4D4D;
$color-primary-dark: #202020;
$color-secondary: #FEFBF3;
$color-yellow: #ffb503;
$color-white: #fff;
$color-black: #333333;
$color-grey: #F1F1F1;
$color-grey-dark: #D4D4D4;



// FONT SIZES
$default-font-size: 1.6rem;

// GRID
$grid-width: 100%;
$gutter-vertical: 4.6rem;
$gutter-horizontal: 2.5rem;





