.comments {
    background: white;
    padding: 3rem 3.5rem;
    text-align: left;
    line-height: 19px;
    @include respond-phone {
        max-width: 280px;
        margin: 0 auto;
    }

    &-person{
        display: flex;
        align-items: center;
        margin-top: 2rem;

        &--img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
        }
        &--detail > div {
            font-weight: normal;
            font-size: 1.4rem;
            
        }

        &--detail > div:not(:last-child) {
            font-weight: 600;
            font-size: 2.1rem;
        }
    }
}